html, body {
  margin: 0;
  padding: 1% 5% 1% 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  color: rgb(60, 60, 60);
  background: rgb(248, 226, 218);
}

li {
  margin: 4px;
}

h1, h3 {
  font-weight: 100;
}
h1 {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 4em;
  letter-spacing: 0px;
}
h3 {
  font-family: 'Arial', Helvetica, sans-serif; 
  font-size: 1.5em;
  font-style: oblique;
}

a {

}

a:hover {

}

p {
  line-height: 150%;
}

.tweet {
  border-radius: 5px;
  background: white;
  padding: 0 4px 2px 4px;
}

.gray {

}