html, body {
  overflow: hidden;
}

/* general */
#locateMask, #map {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}
#locateMask {
  background: black;
  z-index: 200;
  text-align: center;
  padding-top: 35%;
  opacity: 0.8;
  transition: opacity 0.5s linear;
}
#locateMask.invisible {
  opacity: 0;
}
#locateMask.invisible.hidden {
  display: none;
}


/* swiper */
.swiper-container {
  overflow: visible;
}

#swiper {
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  height:40%;
  background: white;
  transition: bottom 200ms;
  -webkit-transition: bottom 200ms; /* Safari */
}
#swiper[show=on] {
    bottom: 0%;
}
#swiper[show=off] {
    bottom: -50%; /* not 40% aka same than height to QAD hide arrow */
}




/* layers groups */
.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  display: block;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-group label {
  padding-left: .5em;
}


/* markers */
.leaflet-div-icon {
  border:none;
  background: none;
}

.leaflet-div-icon .msg {
  text-align: center;
  font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.1em;
  text-transform: lowercase;
  font-style: italic;
  color:whitesmoke;
  /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.82);*/
}

.leaflet-div-icon .evt {
  -moz-border-radius:8px;
  border-radius:8px;
  padding:6px;
  text-align: left;
  color:white;
  font-size: 1.1em;
  font-family: georgia, serif;
  line-height: 1.1em;
  text-transform: lowercase;
  font-style: italic;
  background: rgba(0, 0, 0, 0.63);

  /*transition: background 0.1s linear;*/
}
.leaflet-div-icon.visited .evt {
  background: rgba(126, 126, 126, 0.73);
}
.leaflet-div-icon.focused .evt {
  background: rgba(141, 44, 44, 0.63);
}

.leaflet-div-icon .evt span {
  margin-left:7px;
}


/* slides */

.arrow {
  position: relative;
  height: 0;
}
.arrow:after {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 0 15px 15px;
  display: block;
  width: 0;
  z-index: 9999;
  margin-left: -15px;
  top: -15px;
  left: 50%;
}
.arrow:after { border-color: #FFFFFF transparent; }

.plouf-container {
  height: 100%;
  background: #E6E6E6;
}

/* following to style the slide of your marker */

/* evt */

.evt .arrow:after { border-color: whitesmoke transparent; }
.content {
  padding: 0;
  text-align: center;
}

.content .meta {
  background: whitesmoke;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
.content .meta .date,
.content .meta .address {
  display: inline-block;
}
.content .title {
  margin-bottom: 4px;
}
.content .text {
  padding:0 15% 0 15%;
  text-align: center;
  font-size: 1.4em;
  font-family: georgia, serif;
  /*font-style: italic;*/
}





.content .word {
  text-align: center;
  font-size: 1em;
}