
html {
  margin:0px;
  padding:0px;
  overflow: hidden;
}
body {
  margin:0px;
  padding:0px;
  overflow: hidden;
}

@swiperheigth: 65%;
@duration: 200ms;

.transition(@prop, @duration) {
  -webkit-transition: @prop @duration;
  -moz-transition: @prop @duration;
  -ms-transition: @prop @duration;
  -o-transition: @prop @duration;
  transition: @prop @duration;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow:hidden;
  /*pointer-events:none;*/
}

/* general */
#map, #locateMask {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow:hidden;
/*  transition: height @duration;
  -moz-transition: height @duration;
  -ms-transition: height @duration;
  -o-transition: height @duration;
  -webkit-transition: height @duration;*/
}
/*
#locateMask {
  background: black;
  z-index: 200;
  text-align: center;
  padding-top: 35%;
  opacity: 0.8;
  transition: opacity 0.5s linear;
}
#locateMask.invisible {
  opacity: 0;
}
#locateMask.invisible.hidden {
  display: none;
}*/

#swiper {
  position:absolute;
  left:0px;
  bottom: -@swiperheigth - 10%; /* not 40% aka same than height to QAD hide arrow */
  width: 100%;
  height: @swiperheigth;
  /*background: white;*/
  transition: bottom @duration;
  -moz-transition: bottom @duration;
  -ms-transition: bottom @duration;
  -o-transition: bottom @duration;
  -webkit-transition: bottom @duration;
}

.container.paneled {
  #swiper {
    bottom: 0%;
  }
  #map {
    height: 100% - @swiperheigth;
  }
}


/* swiper */
.swiper-container {
  overflow: visible;
  background: #FAFAFA;
}

.swiper-slide {
  /*overflow: hidden;*/
  /*width: 400px;*/
  opacity: 0.4;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.swiper-slide-visible {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.swiper-slide-active {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}




/* marker cluster */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}


/* MARKERS */

/*.divicon.back { z-index: 998; }
.divicon.front { z-index: 999; }*/

.leaflet-div-icon, .divicon {
  border:none;
  background: none;

  .msg, .word {
    text-align: center;
    font-family: georgia, serif;
    font-size: 1.1em;
    line-height: 1.1em;
    text-transform: lowercase;
    font-style: italic;
    color:whitesmoke;
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.82);*/
    &.cluster {
      color: #E1DE98;
    }
  }
  .word {
    color: black;
    font-size: 1.7em;
    line-height: 1.7em;
    &.cluster {
      color: darkred;
    }
  }

  /* simple point & arrow */
  .point {
    @size: 25px;
    @bigsize: 50px;
    @sizefont: 15px;
    @colclust: #3B72A5;
    @col: #64A1C3;
    @atop: 16px;
    @asize: 15px;
    @asizet: 12px;

    /* see http://stackoverflow.com/questions/13059190/html5-css3-circle-with-partial-border
     TO MAKE 30 min 1h 2h 5h delay next event as a circle arc */
    width: @size;
    height: @size;
    background: @col;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(143, 143, 143);

    .clock-container {
      position: absolute;
    }
    .clock {
      z-index: 5;
      @clock: 20px;
      content: '';
      width: @clock;
      height: @clock;
      border: 2px solid white;
      display: inline-block;
      border-radius: 16px;
      position: relative;
      &:after {
        z-index: 2;
        content: '';
        position: absolute;
        top: @clock / 2;
        left: @clock / 2;
        width: @clock / 2 - 3;
        height: 2px;
        background: lightgray;
        display: inline-block;
        /*transform: rotate(190deg);
        transform-origin: 0 0.25em;
        -ms-transform: rotate(190deg);
        -ms-transform-origin:0 0.25em;*/
        -webkit-transform-origin:0 0px;
        /*-webkit-transform: rotate(10deg);*/
      }
      &.h6:after { -webkit-transform: rotate(180deg); }
      &.h7:after { -webkit-transform: rotate(210deg); }
      &.h8:after { -webkit-transform: rotate(240deg); }
      &.h9:after { -webkit-transform: rotate(270deg); }

      &:before {
        z-index: 2;
        content: '';
        position: absolute;
        top: @clock / 2;
        left: @clock / 2;
        width: @clock / 2 - 1;
        height: 1px;
        background: white;
        display: inline-block;
        -webkit-transform-origin:0 0px;
        -webkit-transform: rotate(0deg);
      }
      &.m15:before { -webkit-transform: rotate(90deg); }
      &.m30:before { -webkit-transform: rotate(180deg); }
      &.m45:before { -webkit-transform: rotate(270deg); }
    }
  
    i {
      z-index: 5;
      position: absolute;
      color: white;
      font-size: @sizefont;
      margin-top: 4px;
      text-shadow: 1px 1px 3px rgb(90, 90, 90);
      width: @size;
      text-align: center;
    }
    .arro {
      z-index: 3;
      position: absolute;
      top: @atop;
      width: 0; 
      height: 0; 
      border-left: @asizet solid transparent;
      border-right: @asizet solid transparent;
      border-top: @asize solid @col;
    }

    &.cluster {
      width: @bigsize;
      height: @bigsize;
      background: rgba(100, 161, 195, 0.32);
      border-radius: @bigsize;
      box-shadow: 0px 0px 80px #64a1c3;
      /*background: @colclust;*/
      .clock {
        display: none;
      }
      i {
        display: none;
      }
      .arro {
        display: none;
        border-top: @asizet solid @colclust;
      }
    }

    .focus {
      background: white;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      top: 28px;
      left: 8px;
      z-index: 99;
      opacity: 0;
      .transition(opacity, 2s);
      .line {
        width: 2px;
        height: 0px;
        .transition(height, 2s);
        background: white;
        margin: 3px;
      }
    }
  }
  &.focused .point {
    .focus {
      opacity: 1;
      .line {
        height: 400px;
      }
    }
  }


  .evt {
    -moz-border-radius:8px;
    border-radius:8px;
    padding:6px;
    text-align: left;
    color:white;
    font-size: 1.1em;
    font-family: georgia, serif;
    line-height: 1.1em;
    text-transform: lowercase;
    font-style: italic;
    background: rgba(0, 0, 0, 0.63);
    /*transition: background 0.1s linear;*/
    span {
      margin-left:7px;
    }
    &.cluster span {
      margin-left: 0;
      margin-right: 7px;
    }
    &.cluster {
      background-color: #9E9E9E;
    }

  }

  &.visited .evt {
    background: rgba(126, 126, 126, 0.73);
  }
  &.focused .evt {
    background: rgba(82, 143, 199, 1);
  }

}



/* SLIDES */

.container.paneled .ellipsis {
  z-index: 60;
  position: fixed;
  width: 100%;
  height: 400px;
  bottom: 0;
  left: 0;

  background-position: center bottom;
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,white 67%,white 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(67%,white),color-stop(100%,white));
  background-image: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,white 67%,white 100%);
  background-image: -o-linear-gradient(top,rgba(255,255,255,0) 0%,white 67%,white 100%);
  background-image: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,white 67%,white 100%);
  background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0%,white 67%,white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='white',GradientType=0);
}

.plouf-container {

  height: 100%;
  background: #FAFAFA;

  .arrow {
    position: relative;
    height: 0;
  
    &:after {
      content: '';
      position: relative;
      border-style: solid;
      border-width: 0 15px 15px;
      display: block;
      width: 0;
      z-index: 60;
      margin-left: -15px;
      top: -15px;
      left: 50%;
    }
  }
  
  &.msg .arrow:after { border-color: #FFFFFF transparent; }
  &.evt .arrow:after { border-color: #FAFAFA transparent; }
  
  .content {

    height: 100%;
    padding: 5px;
    text-align: center;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;

    /* EVT */
    .meta {
      /*background: whitesmoke;*/
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 5px;
      border-bottom: 1px solid lightgray;

      .address {
        display: inline-block;
        font-size: 0.9em;
        color: black;
      }
    }
    .title {
      margin-bottom: 4px;
      font-size: 0.9em;
      color: gray;
    }

    .text {

      height: 100%;
      padding:0 17% 0 17%;
      text-align: center;
      font-size: 2.5em;

      overflow: hidden;
      /*font-family: georgia, serif;*/
      /*font-style: italic;*/
    }
    @media only screen and (max-width : 600px) {
      .text {
        font-size: 1.4em;
        padding: 10px;
      }
    }
    .seemore {
      z-index: 999;
      position: fixed;
      width: 100%;
      height: 40px;
      bottom: 0;
      left: 0;

      a {
        /*z-index: 9999;*/
        background: #ffffff;
        padding: 7px 12px 8px 12px;
        border-radius: 10px;
        text-decoration: none;
        color: #CFCFCF;
      }
    }

    /* MSG */
    .word {
      padding:20px 17% 0 17%;
      text-align: center;
      font-size: 1.5em;
    }
  }
}


