
html {
  margin:0px;
  padding:0px;
  overflow: hidden;
}
body {
  margin:0px;
  padding:0px;
  overflow: hidden;
}

@swiperheigth: 65%;
@duration: 200ms;

.transition(@prop, @duration) {
  -webkit-transition: @prop @duration;
  -moz-transition: @prop @duration;
  -ms-transition: @prop @duration;
  -o-transition: @prop @duration;
  transition: @prop @duration;
}
.transitiondouble(@prop, @prob, @duration) {
  -webkit-transition: @prop @duration, @prob @duration;
  -moz-transition: @prop @duration, @prob @duration;
  -ms-transition: @prop @duration, @prob @duration;
  -o-transition: @prop @duration, @prob @duration;
  transition: @prop @duration, @prob @duration;
}

.numeral {
  font-feature-settings: "onum";
  -moz-font-feature-settings: "onum";
  -ms-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  -o-font-feature-settings: "onum";
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow:hidden;
  /*pointer-events:none;*/
}

/* general */
#map {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}

/* marker cluster */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

@delayicon: 200ms;
@delaytemplate: 600ms;

/*
  --------------------------
  EVENT MARKERS
  --------------------------
*/
.parismap-icon.event {
  border:none;
  background: none;

  /* simple point & arrow */
  @size: 25px;
  @bigsize: 40px; /* 70px is ok if you use gradient */
  @sizefont: 15px;
  @colclust: #3B72A5;
  @colbase: #64A1C3;
  @colfocused: #D13D3D;
  @atop: 16px;
  @asize: 15px;
  @asizet: 12px;

  .point {
    /* see http://stackoverflow.com/questions/13059190/html5-css3-circle-with-partial-border
     TO MAKE 30 min 1h 2h 5h delay next event as a circle arc */
    width: @size;
    height: @size;
    background: @colbase;
    .transition(background, @delayicon);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(143, 143, 143);

    .clock-container {
      position: absolute;
    }
    .clock {
      z-index: 5;
      @clock: 20px;
      content: '';
      width: @clock;
      height: @clock;
      border: 2px solid white;
      display: inline-block;
      border-radius: 16px;
      position: relative;
      &:after {
        z-index: 2;
        content: '';
        position: absolute;
        top: @clock / 2;
        left: @clock / 2;
        width: @clock / 2 - 3;
        height: 2px;
        background: lightgray;
        display: inline-block;
        /*transform: rotate(190deg);
        transform-origin: 0 0.25em;
        -ms-transform: rotate(190deg);
        -ms-transform-origin:0 0.25em;*/
        -webkit-transform-origin:0 0px;
        /*-webkit-transform: rotate(10deg);*/
      }
      &.h6:after { -webkit-transform: rotate(180deg); }
      &.h7:after { -webkit-transform: rotate(210deg); }
      &.h8:after { -webkit-transform: rotate(240deg); }
      &.h9:after { -webkit-transform: rotate(270deg); }

      &:before {
        z-index: 2;
        content: '';
        position: absolute;
        top: @clock / 2;
        left: @clock / 2;
        width: @clock / 2 - 1;
        height: 1px;
        background: white;
        display: inline-block;
        -webkit-transform-origin:0 0px;
        -webkit-transform: rotate(0deg);
      }
      &.m15:before { -webkit-transform: rotate(90deg); }
      &.m30:before { -webkit-transform: rotate(180deg); }
      &.m45:before { -webkit-transform: rotate(270deg); }
    }
  
    i {
      z-index: 5;
      position: absolute;
      color: white;
      font-size: @sizefont;
      margin-top: 4px;
      text-shadow: 1px 1px 3px rgb(90, 90, 90);
      width: @size;
      text-align: center;
    }
    .arrow {
      z-index: 3;
      position: absolute;
      top: @atop;
      width: 0; 
      height: 0; 
      border-left: @asizet solid transparent;
      border-right: @asizet solid transparent;
      border-top: @asize solid @colbase;
      .transition(border-top, @delayicon);
    }
    .arc {
      z-index: 7;
      position: absolute;
      top: -2px;
      left: -2px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 2px solid;
    }
    @colarc: white;
    @ang1: -70deg;
    @ang2: 60deg;
    .arc_start {
        border-color:transparent @colarc @colarc @colarc;
        -webkit-transform: rotate(@ang1);
        -moz-transform: rotate(@ang1);
        -ms-transform: rotate(@ang1);
        -o-transform: rotate(@ang1);
        transform: rotate(@ang1);
    }
    .arc_end {
        border-color:@colarc @colarc @colarc transparent;
        -webkit-transform: rotate(@ang2);
        -moz-transform: rotate(@ang2);
        -ms-transform: rotate(@ang2);
        -o-transform: rotate(@ang2);
        transform: rotate(@ang2);
    }
    .time {
      color: white;
      position: absolute;
      left: 16px;
      top: 18px;
      text-align: left;
      font-size: 14px;
      width: 30px;
      text-shadow: 1px 1px 2px rgb(65, 65, 65);
      font-family: 'Arial, Arial, Helvetica, sans-serif';
      .numeral();
    }
    .template {
      .transition(opacity, @delaytemplate);
      opacity: 0;
      position: fixed;
      display: table;
      pointer-events: none;
    }
    /* ------------------------------ */
    &.cluster {
      width: @bigsize;
      height: @bigsize;
      border-radius: @bigsize;
      .transitiondouble(background, box-shadow, @delaytemplate);
      background: rgba(100, 161, 195, 0.21);
      box-shadow: 0px 0px 80px #64a1c3;

      /* you can try following, but gradient don't support css transitions yet */
      /*box-shadow: none;
      .transition(background, @delaytemplate);
      @colcluster: rgba(108, 138, 182, 0.55);
      background: -webkit-radial-gradient(@colcluster 2%, transparent 75%);
      background: -o-radial-gradient(@colcluster 2%, transparent 75%);
      background: -moz-radial-gradient(@colcluster 2%, transparent 75%);
      background: radial-gradient(@colcluster 2%, transparent 75%);
      background-opacity: 0.5;*/

      .arrow, .clock, i, .time, .arc {
        display: none;
      }
    }
  }
  /* when clicking/dragging around */
  &.focused {
    .point {
      background: @colfocused;
      .arrow {
        border-top: @asize solid @colfocused;
      }
    }
    .point.cluster {
      background: rgba(213, 86, 86, 0.32);
      box-shadow: 0px 0px 80px #FF1400;
      /*
      @colclusterfocused: rgba(138, 138, 182, 0.55);
      background: -webkit-radial-gradient(colclusterfocused 2%, transparent 75%);
      background: -o-radial-gradient(colclusterfocused 2%, transparent 75%);
      background: -moz-radial-gradient(colclusterfocused 2%, transparent 75%);
      background: radial-gradient(colclusterfocused 2%, transparent 75%);
      */
    }
  }
  .template {
    background: rgba(245, 245, 245, 0.86);
    box-shadow: 0px 0px 100px white;

    .content {

      height: 100%;
      padding: 5px;
      text-align: center;
      /*font-family: 'Lato', sans-serif;*/
      font-family: 'Source Sans Pro', sans-serif;

      /* EVT */
      .meta {
        /*background: whitesmoke;*/
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        border-bottom: 1px solid lightgray;

        .address {
          display: inline-block;
          font-size: 0.9em;
          color: black;
        }
      }
      .title {
        margin-bottom: 4px;
        font-size: 0.9em;
        color: gray;
      }
      .text {
        height: 100%;
        padding:0 17% 0 17%;
        text-align: center;
        font-size: 1.4em;
        overflow: hidden;
        /*font-family: georgia, serif;*/
        /*font-style: italic;*/
      }
      @media only screen and (max-width : 600px) {
        .text {
          font-size: 1.4em;
          padding: 10px;
        }
      }
    }
  }
}


/*
  --------------------------
  WORD MARKERS
  --------------------------
*/
.parismap-icon.msg {
  border:none;
  background: none;

  /* words */
  .word {
    .transition(color, @delayicon);
    width: 90px;
    text-align: center;
    font-family: georgia, serif;
    font-size: 1.1em;
    line-height: 1.1em;
    text-transform: lowercase;
    font-style: italic;
    color:whitesmoke;
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.82);*/
    &.cluster {
      color: #A3A3A3;
    }
  }
  .template {
    .transition(opacity, @delaytemplate);
    opacity: 0;
    position: fixed;
    display: table;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.77);
    box-shadow: 0px 0px 100px black;
    .text {
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      height: 100%;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      color: white;
      text-shadow: 1px 1px 4px black;
      font-size: 2.5em;
      line-height: 1.1em;
      font-style: initial;
    }
  }
  &.focused .word {
    color: rgb(255, 163, 0);
  }
}



/*
  --------------------------
  FOR ALL SITUATIONS
  --------------------------
*/
body .parismap-icon.opened .template {
  opacity: 1 !important;
}
body.leaflet-dragging .parismap-icon .template,
body.mousedown .parismap-icon .template {
  opacity: 0 !important;
}
